<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__row">
                    <a class="header__logo" routerLink="/home">
                        LibraryHouse</a>
                    <div class="header__navigation">
                        <ul>
                            <li>
                                <a class="header__client" routerLink="/about">
                                    <ion-icon class="header__icon" name="document-outline"></ion-icon>
                                    <span class="header__name">About</span>
                                </a>
                            </li>
                            <li>
                                <a class="header__client" routerLink="/books">
                                    <ion-icon class="header__icon" name="library-outline"></ion-icon>
                                    <span class="header__name">Books</span>
                                </a>
                            </li>
                            <li>
                                <a class="header__client" routerLink="/authors">
                                    <ion-icon class="header__icon" name="people-outline"></ion-icon>
                                    <span class="header__name">Authors</span>
                                </a>
                            </li>
                            <li>
                                <a class="header__client" routerLink="/profile">
                                    <ion-icon class="header__icon" name="person-circle-outline"></ion-icon>
                                    <span class="header__name">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <h1>Popular authors</h1>
            <div class="grid__body">
                <div class="grid__item grid__item__big">
                    <img src="../../assets/img/authors/1.jpg" style="width: 294px; height: 294px;" alt="author">
                </div>
                <div class="grid__item">
                    <img src="../../assets/img/authors/2.jpg" style="width: 144px; height: 144px;" alt="author">
                </div>
                <div class="grid__item">
                    <img src="../../assets/img/authors/3.jpg" style="width: 144px; height: 144px;" alt="author">
                </div>
                <div class="grid__item grid__item__big">
                    <img src="../../assets/img/authors/4.jpg" style="width: 294px; height: 294px;" alt="author">
                </div>
                <div class="grid__item">
                    <img src="../../assets/img/authors/5.jpg" style="width: 144px; height: 144px;" alt="author">
                </div>
                <div class="grid__item">
                    <img src="../../assets/img/authors/6.jpg" style="width: 144px; height: 144px;" alt="author">
                </div>
            </div>
            <h1>Popular books</h1>
            <div class="grid__body">
                <div class="grid__item grid__item__big">
                    <img src="../../assets/img/books/CancerWard.jpg" style="width: 294px; height: 294px;" alt="book">
                </div>
                <div class="grid__item">
                    <img src="../../assets/img/books/Tyll.jpg" style="width: 144px; height: 144px;" alt="book">
                </div>
                <div class="grid__item grid__item__big">
                    <img src="../../assets/img/books/NatureAndValue.jpeg" style="width: 294px; height: 294px;" alt="book">
                </div>
                <div class="grid__item">
                    <img src="../../assets/img/books/ThreeDelays.jpg" style="width: 144px; height: 144px;" alt="book">
                </div>
                <div class="grid__item">
                    <img src="../../assets/img/books/WallStreet.jpg" style="width: 144px; height: 144px;" alt="book">
                </div>
                <div class="grid__item">
                    <img src="../../assets/img/books/LostDecades.jpg" style="width: 144px; height: 144px;" alt="book">
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class='container'>
                <div class="footer__row">
                    <div class="footer__text">LibraryHouse 2022</div>
                </div>
            </div>
        </footer>
    </div>
</body>

<router-outlet></router-outlet>