<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__row">
                    <a class="header__logo" routerLink="/Home">
                        LibraryHouse</a>
                    <div class="header__navigation">
                        <ul>
                            <li>
                                <a class="header__client" routerLink="/about">
                                    <ion-icon class="header__icon" name="document-outline"></ion-icon>
                                    <span class="header__name">About</span>
                                </a>
                            </li>
                            <li>
                                <a class="header__client" routerLink="/books">
                                    <ion-icon class="header__icon" name="library-outline"></ion-icon>
                                    <span class="header__name">Books</span>
                                </a>
                            </li>
                            <li>
                                <a class="header__client" routerLink="/authors">
                                    <ion-icon class="header__icon" name="people-outline"></ion-icon>
                                    <span class="header__name">Authors</span>
                                </a>
                            </li>
                            <li class="active">
                                <a class="header__client" routerLink="/profile">
                                    <ion-icon class="header__icon" name="person-circle-outline"></ion-icon>
                                    <span class="header__name">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="block">
                <br>
                <br>
                <h1>Profile</h1>
                <form #UpdateUserPassword="ngForm" (ngSubmit)="updateUserPassword(UpdateUserPassword.value)">
                    <input type="email" name="email" placeholder="Email" ngModel>
                    <input type="password" name="oldPassword" placeholder="Current password" ngModel>
                    <input type="password" name="newPassword" placeholder="New password" ngModel>
                    <button class="button button__black btn">Update</button>
                </form>
                <button (click)="logOut()" class="button button__red">LogOut</button>
            </div>

        </div>
        <footer class="footer">
            <div class='container'>
                <div class="footer__row">
                    <div class="footer__text">LibraryHouse 2022</div>
                </div>
            </div>
        </footer>
    </div>
</body>


<router-outlet></router-outlet>