<body class="scroll">
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__row">
                    <a class="header__logo" routerLink="/home">
                        LibraryHouse</a>
                    <div class="mb-3">
                        <input style="position: relative; top: -3px" type="text" 
                            placeholder="Search by book name..." aria-label="Recipient's username" aria-describedby="button-addon2"
                            [(ngModel)]="searchFilter">
                        <!-- <button class="button__search button__ghost" type="button"><ion-icon style="font-size: 20px;" name="search-outline"></ion-icon></button> -->
                    </div>
                    <div class="header__navigation">
                        <ul>
                            <li>
                                <a class="header__client" routerLink="/about">
                                    <ion-icon class="header__icon" name="document-outline"></ion-icon>
                                    <span class="header__name">About</span>
                                </a>
                            </li>
                            <li class="active">
                                <a class="header__client" routerLink="/books">
                                    <ion-icon class="header__icon" name="library-outline"></ion-icon>
                                    <span class="header__name">Books</span>
                                </a>
                            </li>
                            <li>
                                <a class="header__client" routerLink="/authors">
                                    <ion-icon class="header__icon" name="people-outline"></ion-icon>
                                    <span class="header__name">Authors</span>
                                </a>
                            </li>
                            <li>
                                <a class="header__client" routerLink="/profile">
                                    <ion-icon class="header__icon" name="person-circle-outline"></ion-icon>
                                    <span class="header__name">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="navig">
            <ul>
                <li *ngFor="let bookType of bookTypes">
                    <a (click)="search(bookType.typeId)">{{bookType.bookType}}</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <ul>
                <li *ngFor="let book of books | searchFilter: searchFilter">
                    <a href="/books#info" (click)="getFullInfoAboutBook(book.bookId)">
                        <img style="height: 200px; width: 150px" *ngIf="book.pictureResult != null; else elsePicture" src="data:image/png;base64,{{book.pictureResult}}" alt="Book icon">
                        <span>{{book.name}}</span>
                        <ng-template #elsePicture>
                            <img style="height: 200px; width: 150px" src="../../assets/img/book-icon.png" alt="Book icon">
                        </ng-template>
                    </a>
                </li>
            </ul>
            <div id="info" class="popup">
                <a href="/books#" class="popup__area"></a>
                <div class="popup__body">
                    <div class="popup__content">
                        <a href="/books#" class="popup__close">X</a>
                        <div class="popup__title">Full info about book <br>
                            "{{fullInfoBook.name | titlecase}}"</div>
                        <div class="popup__info">
                            <div><span>Book type:</span> {{fullInfoBook.type?.type}} </div>
                            <div><span>Delivery Date:</span> {{fullInfoBook.dateOfDelivery | date}}</div>
                            <div><span>Author:</span> {{fullInfoBook.author?.firstName | titlecase}}
                                {{fullInfoBook.author?.lastName
                                | titlecase}}</div>
                            <div><span>&#11088;Description:</span> {{fullInfoBook.description}} </div>
                            <div style="display: flex; justify-content: center;">
                                <button (click)="downloadBook(fullInfoBook.bookId, fullInfoBook.name)"
                                    class="button button__green" style="font-size: 12px;"><span style="text-decoration: none; position: relative; top: -4px;">Download</span><ion-icon style="font-size: 20px;" name="download-outline"></ion-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class='container'>
                <div class="footer__row">
                    <div class="footer__text">LibraryHouse 2022</div>
                </div>
            </div>
        </footer>
    </div>

</body>
<router-outlet></router-outlet>